/* Extra large devices */
@media (min-width: 1200px) {  }


/* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {  }


/* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) { 
    *{
        overflow-x: hidden;
        line-height: normal !important;
    }

    .navbar-nav{
        background: #ccc;
        border-radius: 20px;
        text-align: center;
    }

    .navButton{
        display: flex;
        justify-content: center;
    }

    .bannerText h1 {
        font-size: 100px;
        line-height: normal;
    }

    .bannerText{
        margin-bottom: 20px;
    }

    .aboutPhoto{
        height: 0;
        width: 0;
    }

    #aboutPart {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .serviceItemHead{
        display: grid !important;
        grid-template-columns: 2fr 2fr;
    }


    .serviceItem{
        margin: 10px 0;
    }

    .projectHeader h1 {
        font-size: 60px;
    }

    #servicePart {
        margin-bottom: 50px;
    }

    .projectType {
        margin-bottom: 50px;
    }

    .projectType ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap !important;
    }

    .projectItem{
        margin: 20px 0;
    }

    #projectPart {
        margin-bottom: 50px;
    }

    .testimonialsItem {
        display: grid !important;
        justify-content: center !important;
    }

    .supportHeader h1 {
        font-size: 60px;
    }
    #testimonialsPart {
        margin-bottom: 50px;
    }

    .footerText p {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }


/* Small devices */
@media (min-width: 576px) and (max-width: 767.98px) { 
    *{
        overflow-x: hidden;
        line-height: normal !important;
    }

    .navbar-nav{
        background: #ccc;
        border-radius: 20px;
        text-align: center;
    }

    .navButton{
        display: flex;
        justify-content: center;
    }

    .bannerText h1 {
        font-size: 100px;
        line-height: normal;
    }

    .bannerText{
        margin-bottom: 20px;
    }

    .aboutPhoto{
        height: 0;
        width: 0;
    }

    #aboutPart {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .serviceItem{
        margin: 10px 0;
    }

    .projectHeader h1 {
        font-size: 60px;
    }

    #servicePart {
        margin-bottom: 50px;
    }

    .projectType {
        margin-bottom: 50px;
    }

    .projectType ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap !important;
    }

    .projectItem{
        margin: 20px 0;
    }

    #projectPart {
        margin-bottom: 50px;
    }

    .testimonialsItem {
        display: grid !important;
        justify-content: center !important;
    }

    .supportHeader h1 {
        font-size: 60px;
    }
    #testimonialsPart {
        margin-bottom: 50px;
    }

    .footerText p {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }


/* Extra small devices */
@media (max-width: 575.98px) { 
    *{
        overflow-x: hidden;
        line-height: normal !important;
    }

    .navbar-nav{
        background: #ccc;
        border-radius: 20px;
        text-align: center;
    }

    .navButton{
        display: flex;
        justify-content: center;
    }

    .bannerText h1 {
        font-size: 65px;
        line-height: normal;
    }

    .bannerText{
        margin-bottom: 20px;
    }

    .aboutPhoto{
        height: 0;
        width: 0;
    }

    #aboutPart {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .serviceItem{
        margin: 10px 0;
    }

    .projectHeader h1 {
        font-size: 60px;
    }

    #servicePart {
        margin-bottom: 50px;
    }

    .projectType {
        margin-bottom: 50px;
    }

    .projectType ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap !important;
    }

    .projectItem{
        margin: 20px 0;
    }

    #projectPart {
        margin-bottom: 50px;
    }

    .testimonialsItem {
        display: grid !important;
        justify-content: center !important;
    }

    .supportHeader h1 {
        font-size: 60px;
    }
    #testimonialsPart {
        margin-bottom: 50px;
    }

    .footerText p {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }